---
import Hero from "../components/hero.astro";
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/project-card.astro";
import RevealList from "../components/reveal-list.astro";
import { projects } from "../lib/projects";
---

<Layout
  title="Projects"
  description="Stuff I have built - apps, websites and experiments."
>
  <section class="space-y-8">
    <Hero
      title="My projects"
      description="Here are some of the things I've built. You'll find apps, websites and experiments with different technologies and frameworks."
      goBack={true}
    />

    <RevealList class="space-y-3">
      {
        projects.map((project, idx) => (
          <li class="reveal" style={`--delay: ${idx * 70}ms`}>
            <ProjectCard project={project} variant="full" />
          </li>
        ))
      }
    </RevealList>
  </section>
</Layout>
