---
---

<footer class="rounded-t-xl p-2 fixed bottom-0 left-0 right-0 text-xs z-50 flex items-center justify-between px-3 md:px-2">
  <div class="backdrop-blur-lg bg-background/50 px-3 py-1 rounded-full">
    <p class="text-muted-foreground"> all rights reserved &copy; 2026 Jorge Alvarenga</p>
  </div>
</footer>